<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="TargetFile" value="D:\720 연세의료원\His2\HIS2.0\Source\WinUI\SP\PHA\HIS.WinUI.SP.PHA.AM.Furn\" />
        <add key="MainWindow.Width" value="1440" />
        <add key="MainWindow.Height" value="759" />
        <add key="MainWindow.WindowState" value="Maximized" />
    </appSettings>
</configuration>