<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CsFormAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <connectionStrings>
      <add name="CDR" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISZ;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="CDR30" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HIS_TEST;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="CDRS" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=CDR;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="CM" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISZ;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <!--<add name="강남CM" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISZ;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
      <add name="MR" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISE;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="HP" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISH;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="MD" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISM;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="SP" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISS;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="TEST" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HIS_TEST;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="BizTalk" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=Yumc_EMR;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="Cache" connectionString="his@10.26.10.151:6379;"/>
      <add name="SOCEN" connectionString="Data Source=10.28.16.54;Initial Catalog=HISBIZ;User Id=sa;Password=password!234;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <!--<add name="강남HP" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISH;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />-->
      <add name="HISRS" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISRS;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="HISR" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISR;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="HISU" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISU;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <!-- 적정성 평가 관련 2014.07.01 추가-->
      <add name="CDWE" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISE;User Id=his_user;Password=cns0909;MultipleActiveResultSets=True;Connection Timeout=120" providerName="System.Data.SQLClient"/>
      <add name="강남CDR" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISZ;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남CDR30" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HIS_TEST;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남CDRS" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=CDR;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남CM" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISZ;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남MR" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISE;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남HP" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISH;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남MD" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISM;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남SP" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISS;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남TEST" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HIS_TEST;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남BizTalk" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=Yumc_EMR;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남Cache" connectionString="his@10.26.10.151:6379;"/>
      <add name="강남SOCEN" connectionString="Data Source=10.28.16.54;Initial Catalog=HISBIZ;User Id=sa;Password=password!234;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남HISRS" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISRS;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남HISR" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISR;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <add name="강남HISU" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISU;User Id=his_user;Password=cns0909;Application Name=SAF30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
      <!-- 적정성 평가 관련 2014.07.01 추가-->
      <add name="강남CDWE" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=HISE;User Id=his_user;Password=cns0909;MultipleActiveResultSets=True;Connection Timeout=120" providerName="System.Data.SQLClient"/>
      <add name="HIS.CTI.DB.SMS" connectionString="Data Source=172.31.7.49\DEV08;Initial Catalog=MONO;User Id=his_user;Password=cns0909;MultipleActiveResultSets=True;Connection Timeout=120" providerName="System.Data.SQLClient"/>
    </connectionStrings>


</configuration>
